

@-webkit-keyframes rotateLeftArmUp {
	//from { -webkit-transform: rotate3d(0,0,1,-25deg); }
	to { -webkit-transform: rotate3d(0,0,1,40deg); background-color: red; }
}
@-webkit-keyframes rotateRightArmUp {
	//from { -webkit-transform: rotate3d(0,0,1,25deg); }
	to { -webkit-transform: rotate3d(0,0,1,-40deg);background-color: red;  }
}

@-webkit-keyframes rotateLeftArmDown {
	//from { -webkit-transform: rotate3d(0,0,1,-25deg); }
	to { -webkit-transform: rotate3d(0,0,1,-40deg); background-color: blue;  }
}
@-webkit-keyframes rotateRightArmDown {
	//from { -webkit-transform: rotate3d(0,0,1,25deg); }
	to { -webkit-transform: rotate3d(0,0,1,40deg); background-color:  blue;  }
}


.stage {
	.body {
		// 'armsup' PUT BOTH ARMS UP **************************
		&.armsup {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
			}
		}
		&.armsdown {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
			}
		}
		&.armsup {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
			}
		}
		&.toes{
			bottom: 80px;
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,40deg);
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,-40deg);
			}
			.showShadow {
				bottom: -40px;
				width: 240px;
				left: calc(~"50% - 120px");
			}
		}
		&.jump{
			bottom: 180px;
			.showShadow {
				bottom: -140px;
				width: 140px;
				left: calc(~"50% - 70px");
			}
		}
	}
}