
/*
@-webkit-keyframes rotateLeftArmUp {
	//from { -webkit-transform: rotate3d(0,0,1,-25deg); }
	to { -webkit-transform: rotate3d(0,0,1,40deg); background-color: red; }
}
@-webkit-keyframes rotateRightArmUp {
	//from { -webkit-transform: rotate3d(0,0,1,25deg); }
	to { -webkit-transform: rotate3d(0,0,1,-40deg);background-color: red;  }
}

@-webkit-keyframes rotateLeftArmDown {
	//from { -webkit-transform: rotate3d(0,0,1,-25deg); }
	to { -webkit-transform: rotate3d(0,0,1,-40deg); background-color: blue;  }
}
@-webkit-keyframes rotateRightArmDown {
	//from { -webkit-transform: rotate3d(0,0,1,25deg); }
	to { -webkit-transform: rotate3d(0,0,1,40deg); background-color:  blue;  }
}
*/

.stage {
	.body {
		/* ****************************************************** */
		/* ARM ANIMATIONS */

		&.leftarmpoint {
			.core {
				-webkit-transform: rotate3d(0,1,0,30deg);
				.left-arm {
					-webkit-transform: rotate3d(0,1,0,50deg) translateZ(-10px);
				}
				.right-arm {
					-webkit-transform: translateZ(-20px);
				}

			}
			.right-foot {
				-webkit-transform: translate3d(-40px,0,-25px);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,-15deg);
				left: -10%;
			}

		}
		&.rightarmpoint {
			.core {
				-webkit-transform: rotate3d(0,1,0,-30deg);
				.belly {
				}
				.right-arm {
					-webkit-transform: rotate3d(0,1,0,-50deg) translateZ(-10px);
				}
				.left-arm {
					-webkit-transform: translateZ(-20px);
				}
			}
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,15deg);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: translate3d(40px,0,-25px);
				left: -10%;
			}
		}
		&.armspoint {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,1,0,70deg);
					left: -100%;
				}
				.right-arm {
					-webkit-transform: rotate3d(0,1,0,-70deg);
					right: -100%;
				}
			}
		}
		&.leftarmup {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
			}
		}
		&.rightarmup {
			.core {
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
			}
		}
		&.leftarmdown {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
			}
		}
		&.rightarmdown {
			.core {
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
			}
		}
		&.armsdown {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
			}
		}
		&.armsup {
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,40deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-40deg);
				}
			}
		}

		/* ****************************************************** */
		/* BODY ANIMATIONS */
		&.toes{
			-webkit-transform: scale3d(1.01,1.03,1);
			bottom: 130px;
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,25deg);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,-25deg);
				left: -10%;
			}
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,-10deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,10deg);
				}
			}
			.showShadow {
				bottom: -40px;
				width: 240px;
				left: calc(~"50% - 120px");
			}
		}
		&.jump{
			bottom: 180px;
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,30deg);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,-30deg);
				left: -10%;
			}
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,15deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-15deg);
				}
			}
			.showShadow {
				bottom: -100px;
				width: 140px;
				left: calc(~"50% - 70px");
			}
		}

		&.turnleft {
			-webkit-transform: rotate3d(0,1,0,50deg);
			.head {
				-webkit-transform: rotate3d(0,1,0,-20deg);
			}
			.showShadow {
				-webkit-transform: rotate3d(0,1,0,-50deg);
				height: 20px;
			}
			.core {
				//-webkit-transform: rotate3d(1,0,0,-40deg) translate3d(0, 0px, 50px);
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,20deg) translate3d(0,0,-2px);
				}
				.right-arm {
					-webkit-transform: translate3d(0,0,-2px);
				}
			}
		}

		&.turnright {
			-webkit-transform: rotate3d(0,1,0,-50deg);
			.head {
				-webkit-transform: rotate3d(0,1,0,20deg);
			}
			.showShadow {
				-webkit-transform: rotate3d(0,1,0,50deg);
				height: 20px;
			}
			.core {
				//-webkit-transform: rotate3d(1,0,0,-40deg) translate3d(0, 0px, 50px);
				.left-arm {
					-webkit-transform: translate3d(0,0,-2px);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-20deg)  translate3d(0,0,-2px);
				}
			}
		}

		&.bow {
			-webkit-transform: rotate3d(1, 0, 0, -30deg) translate3d(0, 33px, 80px);

			.head {
				//-webkit-transform: rotate3d(1, 0, 0, -30deg) translate3d(0, 33px, 80px);
			}
			.core {
				//-webkit-transform: rotate3d(1,0,0,-40deg) translate3d(0, 0px, 50px);
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,-10deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,10deg);
				}
			}

		}

		&.pointtosky {
			-webkit-transform: scale3d(.98,1.02,0) translate3d(0, -50px, 0);
			.core {
				.left-arm {
					-webkit-transform: rotate3d(0,0,1,70deg);
				}
				.right-arm {
					-webkit-transform: rotate3d(0,0,1,-70deg);
				}
			}
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,45deg);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,-45deg);
				left: -10%;
			}
			.showShadow {
				-webkit-transform: translate3d(0, 50px, 0);
				width: 140px;
				left: calc(~"50% - 70px");
			}
		}

		/* ****************************************************** */
		/* FOOT ANIMATIONS */

		&.rightfootup {
			-webkit-transform: rotate3d(0,0,1,-5deg);
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,-20deg);
				right: -10%;
			}
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,5deg);
			}
			.showShadow {
				-webkit-transform: rotate3d(0,0,1,5deg);
			}
		}
		&.leftfootup {
			-webkit-transform: rotate3d(0,0,1,5deg);
			.left-foot {
				-webkit-transform: rotate3d(0,0,1,20deg);
				left: -10%;
			}
			.right-foot {
				-webkit-transform: rotate3d(0,0,1,-5deg);
			}
			.showShadow {
				-webkit-transform: rotate3d(0,0,1,-5deg);
			}

		}

		&.closeeyes {
			.head .face .eyes {
				.eye {
					box-shadow: 0 30px 0 0 #649b9b inset;
					&:before {
						bottom: 0;
						height: 15px;
					}
				}
			}
		}
		&.closelefteye {
			.head .face .eyes {
				.eye:first-of-type {
					box-shadow: 0 30px 0 0 #649b9b inset;
					&:before {
						bottom: 0;
						height: 15px;
					}

				}
			}
		}
		&.closerighteye {
			.head .face .eyes {
				.eye:last-of-type {
					box-shadow: 0 30px 0 0 #649b9b inset;
					&:before {
						bottom: 0;
						height: 15px;
					}
				}
			}
		}

	}
}