@-webkit-keyframes rotateLeftArmUp {
  to {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    background-color: red;
  }
}
@-webkit-keyframes rotateRightArmUp {
  to {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    background-color: red;
  }
}
@-webkit-keyframes rotateLeftArmDown {
  to {
    -webkit-transform: rotate3d(0, 0, 1, -40deg);
    background-color: blue;
  }
}
@-webkit-keyframes rotateRightArmDown {
  to {
    -webkit-transform: rotate3d(0, 0, 1, 40deg);
    background-color: blue;
  }
}
.stage .body.armsup .core .left-arm {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
}
.stage .body.armsup .core .right-arm {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
}
.stage .body.armsdown .core .left-arm {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
}
.stage .body.armsdown .core .right-arm {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
}
.stage .body.armsup .core .left-arm {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
}
.stage .body.armsup .core .right-arm {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
}
body,
html {
  height: 100%;
  width: 100%;
  background: #2989d8;
  /* Old browsers */

  background: -moz-radial-gradient(center, ellipse cover, #2989d8 1%, #282f56 100%);
  /* FF3.6+ */

  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%, #2989d8), color-stop(100%, #282f56));
  /* Chrome,Safari4+ */

  background: -webkit-radial-gradient(center, ellipse cover, #2989d8 1%, #282f56 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-radial-gradient(center, ellipse cover, #2989d8 1%, #282f56 100%);
  /* Opera 12+ */

  background: -ms-radial-gradient(center, ellipse cover, #2989d8 1%, #282f56 100%);
  /* IE10+ */

  background: radial-gradient(ellipse at center, #2989d8 1%, #282f56 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2989d8', endColorstr='#282f56', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */

}
.stage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  perspective: 600px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  /*
  transform: rotate3d(0,0,1,10deg);
  -webkit-transform: rotate3d(0,0,1,10deg);
  -moz-transform: rotate3d(0,0,1,10deg);
  */

}
.stage * {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transition: all 1s;
}
.stage .body {
  position: absolute;
  bottom: 10%;
  left: calc(50% -  150px);
  height: 350px;
  width: 300px;
  z-index: 5;
}
.stage .body:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -8px;
  height: 10px;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  box-shadow: 0 0 30px #000000;
  border-radius: 50%;
  z-index: 0;
}
.stage .body .head {
  position: absolute;
  top: 5px;
  left: calc(50% -  60px);
  width: 120px;
  height: 20%;
}
.stage .body .head * {
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
}
.stage .body .head .neck {
  width: 35px;
  height: 70px;
  bottom: 0;
  left: calc(50% -  17.5px);
  border-radius: 50% 50% 0% 0%;
}
.stage .body .head .face {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -70px;
  border-radius: 5% 5% 35% 35%;
}
.stage .body .head .face .eyes {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  height: 45px;
  box-shadow: none;
}
.stage .body .head .face .eyes .eye {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 30px;
  box-shadow: 0 2px 0 0 #3c5d5d inset;
  border-radius: 50%;
  -webkit-animation: wink 0.5s alternate ease-in-out infinite;
}
.stage .body .head .face .eyes .eye:before {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  right: 2px;
  background-color: black;
  content: "";
  border-radius: 50%;
  -webkit-animation: look 3s alternate ease-in-out infinite;
}
.stage .body .head .face .eyes .eye:after {
  width: 2px;
  height: 2px;
  position: absolute;
  bottom: 15px;
  right: 8px;
  background-color: #ffffff;
  content: "";
  border-radius: 50%;
}
.stage .body .head .face .eyes .eye:last-child {
  right: 0;
  -webkit-animation-delay: .1s;
}
.stage .body .head .face .month {
  position: absolute;
  left: 40px;
  bottom: 25px;
  width: 40px;
  height: 20px;
  background-color: red;
  box-shadow: none;
  border-radius: 50%;
}
.stage .body .head .face .month:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  width: 60px;
  height: 27px;
  background-color: #649b9b;
  box-shadow: none;
  border-radius: 50%;
  -webkit-animation: talk 0.6666666666666666s alternate ease-in-out infinite;
}
.stage .body .core {
  width: 150px;
  position: absolute;
  bottom: 15%;
  top: 20%;
  left: calc(50% -  75px);
  z-index: 10;
}
.stage .body .core .belly {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50% 50% 10% 10%;
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  z-index: 10;
}
.stage .body .core .left-arm {
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  width: 200px;
  height: 50px;
  top: 10%;
  left: calc(50% -  200px);
}
.stage .body .core .left-arm:after {
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  width: 100px;
  height: 100px;
  right: 160px;
  top: -30px;
  content: '';
  border-radius: 5% 25% 25% 75%;
}
.stage .body .core .right-arm {
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  width: 200px;
  height: 50px;
  top: 10%;
  right: calc(50% -  200px);
}
.stage .body .core .right-arm:after {
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  width: 100px;
  height: 100px;
  left: 160px;
  top: -30px;
  content: '';
  border-radius: 25% 5% 75% 25%;
}
.stage .body .left-foot {
  bottom: 0;
  width: 125px;
  left: 0;
  height: 20%;
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  border-radius: 150% 50% 35% 5%;
  z-index: 5;
}
.stage .body .right-foot {
  bottom: 0;
  width: 125px;
  right: 0;
  height: 20%;
  position: absolute;
  box-shadow: 3px 3px 1px rgba(256, 256, 256, 0.25) inset, -5px -15px 5px rgba(0, 0, 0, 0.1) inset, 5px 5px 5px rgba(0, 0, 0, 0.1);
  background: #649b9b;
  border-radius: 50% 150% 5% 35%;
  z-index: 5;
}
@-webkit-keyframes talk {
  to {
    top: -20px;
  }
}
@-webkit-keyframes wink {
  to {
    box-shadow: 0 17px 0 0 #283e3e inset;
  }
}
@-webkit-keyframes look {
  to {
    right: 8px;
  }
}
@-webkit-keyframes rotateSidetoSide {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
  }
}
@-webkit-keyframes rotateSidetoSideSm {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 1deg);
  }
}
@-webkit-keyframes rotateLeftArm {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -25deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, -20deg);
  }
}
@-webkit-keyframes rotateRightArm {
  from {
    -webkit-transform: rotate3d(0, 0, 1, 25deg);
  }
  to {
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
  }
}
@-webkit-keyframes stretch {
  from {
    -webkit-transform: scale3d(1, 1.05, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
  }
}
