.DanceRoutine {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: fixed;
	right: 0;
	top: 0;
	width: 25%;
	z-index: 10000;
	transition: all .75s;
}

.DanceRoutine .routine-handle {
	position: absolute;
	top: 20px;
	left: -30px;
	background: rgba(0,0,0,.5);
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 30px;
	border-radius: 5px 0 0 5px;
	color: white;
	cursor: pointer;
}

.nowdancing .DanceRoutine,
.DanceRoutine.close {
	right: -25%;
}

.DanceRoutine ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.DanceRoutine > ul {
	margin: 10px 0 10px 10px;
	overflow: auto;
	height: 100%;
}

.DanceRoutine .step {
	//background-color: rgba(256,256,256,.25);
	border-bottom: solid 1px white;
	border-color: #ddd #999 #999 #ddd;
	display: block;
	padding: 10px;
	position: relative;
}

.DanceRoutine .step.selected {
	background-color: red;
}

.DanceRoutine .move {
	background-color: #ddd;
	border: solid 1px #ccc;
	border-radius: 3px;
	display: inline-block;
	margin: 0 5px 5px 0;
	opacity: 1;
	padding: 3px 18px 5px 3px;
	position: relative;
	transition: opacity 0.3s;
}

.DanceRoutine .move.removed {
	opacity: 0;
}
.DanceRoutine .remove {
	cursor: pointer;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	right: 5px;
	top: 5px;
}
.DanceRoutine  .remove-whole-block {
	color: white;
	font-size: 14px;
}

.DanceRoutine .move .remove {
	top: 7px;
	right: 5px;
}
